.splitterContainer {
  height: 100vh;
}

.splitterPrimary {
  height: 100%;
}

.splitterMap {
  background: #f4f4f4;
  height: 100%;
}

.splitterRightPanel {
  background: #c3c3c3;
  height: 100%;
}

.splitterBottomPanel {
  background: #eaeaea;
  height: 100%;
}
